@use "../global" as *;

.c-title {
    padding-top: 1em;
    padding-bottom: 0.5em;
    //２段目　.5emずつズレる
    padding-left: 2.5em;
    background: url(.././images/f-gosenfu.svg) no-repeat bottom left/cover;
    font-size: f-rem(36);
    line-height: 1;
    transition: .2s;
    font-family: linotype-didot-headline, "ヒラギノ角ゴ ProN",
        "Hiragino Kaku Gothic ProN",
        "メイリオ",
        "Meiryo",
        sans-serif;
    font-weight: 400;
}