@charset "UTF-8";
/**
 * Minified by jsDelivr using clean-css v5.3.2.
 * Original file: /npm/the-new-css-reset@1.11.3/css/reset.css
 *
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

a,
button {
  cursor: revert;
}

menu,
ol,
summary,
ul {
  list-style: none;
}

ol {
  counter-reset: revert;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::-moz-placeholder {
  color: unset;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable=true]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}
body {
  background-color: #0a0a0a;
  color: #f0f0f0;
  font-size: 1rem;
  font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
  line-height: 1.8;
  min-width: 290px;
}

.l-header {
  max-width: 900px;
  width: 80%;
  min-width: 400px;
  aspect-ratio: 1/1;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  transform: translateX(-85%);
  transition: 0.5s;
}
@media (800px>=width) {
  .l-header {
    transform: translateX(-50%) translateY(-85%);
    left: 50vw;
    margin-top: 30px;
  }
}
.l-header.is-active {
  transform: translateX(-50%);
}
.l-header.is-active .l-header__menu {
  display: block;
}
.l-header.is-appear {
  transform: translateX(-50%);
}
.l-header.is-appear .l-header__menu {
  display: block;
}
.l-header.is-top {
  max-width: 900px;
  width: 80%;
  min-width: 400px;
  top: 60px;
  left: 50vw;
  transform: translateX(-50%);
}
.l-header.is-top .l-header__bg {
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.l-header.is-bottom {
  max-width: 600px;
  width: 60%;
  min-width: 230px;
  top: auto;
  bottom: 60px;
  left: 50vw;
  transform: translateX(-50%);
}
.l-header.is-bottom .l-header__bg {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.l-header.is-bottom .l-header__menu {
  display: block;
}
.l-header__btn {
  position: absolute;
  top: 30px;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 999;
  display: none;
  transition: 0.2s;
}
@media (800px>=width) {
  .l-header__btn {
    top: auto;
    bottom: 10px;
    right: 50%;
    transform: translateX(-50%);
    background-color: #0a0a0a;
    padding: 10px;
  }
}
.l-header__btn.is-open {
  transform: rotate(-90deg);
  display: block;
}
@media (800px>=width) {
  .l-header__btn.is-open {
    transform: rotate(0deg) translateX(50%);
  }
}
.l-header__btn.is-open:hover {
  cursor: pointer;
  transform: rotate(-90deg) scale(1.1);
}
@media (800px>=width) {
  .l-header__btn.is-open:hover {
    transform: rotate(0deg) translateX(50%);
  }
}
.l-header__btn.is-close {
  transform: rotate(90deg);
  display: block;
}
@media (800px>=width) {
  .l-header__btn.is-close {
    transform: rotate(180deg) translateX(-50%);
  }
}
.l-header__btn.is-close:hover {
  cursor: pointer;
  transform: rotate(90deg) scale(1.1);
}
@media (800px>=width) {
  .l-header__btn.is-close:hover {
    transform: rotate(180deg) translateX(-50%);
  }
}
.l-header__inner {
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
}
.l-header__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: "rotate" 90s linear infinite;
          animation: "rotate" 90s linear infinite;
  transition: 0.3s;
  filter: grayscale(1);
}
.l-header__bg:hover {
  filter: grayscale(0);
}
.l-header__menu {
  position: relative;
  z-index: 99;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  display: none;
}
.l-header__link {
  text-align: right;
  background-color: #0a0a0a;
  padding: 5px 15px;
  margin-bottom: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.2s;
}
@media (800px>=width) {
  .l-header__link {
    font-size: 1.125rem;
    padding: 3px 10px;
    margin-bottom: 5px;
  }
}
.l-header__link--home:hover {
  color: #FF8601;
}
.l-header__link--about:hover {
  color: #FFE500;
}
.l-header__link--work:hover {
  color: #43ff00;
}
.l-header__link--contact:hover {
  color: #01ffe9;
}
.l-header__link.u-c-bla {
  background-color: #f0f0f0;
}
.l-header a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.l-footer__bg {
  margin: 0 auto 60px;
  display: block;
  max-height: 600px;
  width: auto;
  height: 60vw;
  min-height: 230px;
}

.p-top-firstview {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  margin-bottom: 450px;
}
@media (800px>=width) {
  .p-top-firstview {
    padding-left: 0;
  }
}
.p-top-firstview__logo {
  position: relative;
  z-index: 9999;
  margin-top: auto;
  margin-left: auto;
  padding: 20px 30px;
  width: 80%;
  min-width: 500px;
}
@media (800px>=width) {
  .p-top-firstview__logo {
    width: 100%;
    max-width: 500px;
    min-width: auto;
    z-index: 99;
  }
}

.p-player__img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}
.p-player__text {
  margin: 60px auto 0;
  width: 90%;
}
.p-player__title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.p-player__bar {
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
}
.p-player__sec {
  display: block;
  width: 20%;
  height: 5px;
  background-color: #999;
}
.p-player__sec.is-active {
  background-color: #f0f0f0;
}
.p-player__operation {
  display: flex;
  justify-content: space-between;
}
.p-player__button:hover {
  cursor: pointer;
}

.p-top-about {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 240px;
}
@media (800px>=width) {
  .p-top-about {
    padding-left: 0;
  }
}
@media (800px>=width) {
  .p-top-about {
    flex-direction: column-reverse;
    margin-bottom: 120px;
  }
}
.p-top-about:hover .p-top-about__title {
  color: #FFE500;
}
.p-top-about__favorite {
  width: 40%;
}
@media (800px>=width) {
  .p-top-about__favorite {
    width: 100%;
    padding: 0 30px;
  }
}
.p-top-about__intro {
  width: 50%;
}
@media (800px>=width) {
  .p-top-about__intro {
    width: 100%;
    margin-bottom: 120px;
  }
}
.p-top-about__title {
  padding-top: 1.5em;
  padding-left: 2em;
  background: url(.././images/f-gosenfu.svg) no-repeat bottom left/cover;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
  transition: 0.2s;
}
.p-top-about__text {
  margin-bottom: 60px;
}
.p-top-about__text p {
  margin-bottom: 30px;
  transition: 0.2s;
}
.p-top-about__text p:hover {
  color: #FFE500;
}
.p-top-about__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 1.25rem;
  border-bottom: #f0f0f0 1px solid;
  transition: 0.2s;
}
.p-top-about__link:hover {
  color: #FFE500;
  border-bottom: #FFE500 1px solid;
}

.p-top-works {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  margin-bottom: 240px;
}
@media (800px>=width) {
  .p-top-works {
    padding-left: 0;
  }
}
.p-top-works:hover .p-top-works__title {
  color: #43ff00;
}
.p-top-works__title {
  padding-top: 1em;
  padding-bottom: 0.5em;
  padding-left: 2.5em;
  background: url(.././images/f-gosenfu.svg) no-repeat bottom left/cover;
  border: #0a0a0a 3px solid;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
}
.p-top-works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 30px;
}
@media (800px>=width) {
  .p-top-works__list {
    display: block;
    padding: 0 30px;
    margin-bottom: 60px;
  }
}
.p-top-works__list a {
  width: 32%;
}
@media (800px>=width) {
  .p-top-works__list a {
    width: 100%;
  }
  .p-top-works__list a:nth-last-child(-n+2) {
    display: none;
  }
}
.p-top-works__item {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 40px;
  background-color: #999;
}
.p-top-works__item:hover {
  cursor: pointer;
}
.p-top-works__item:hover .p-top-works__img {
  transform: scale(1.05);
}
.p-top-works__item:hover .p-top-works__text {
  color: #43ff00;
}
.p-top-works__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.2s;
}
.p-top-works__text {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #5c5c5c;
  text-align: right;
  transition: 0.2s;
}
.p-top-works__link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  font-size: 1.25rem;
  border-bottom: #f0f0f0 1px solid;
  transition: 0.2s;
}
.p-top-works__link:hover {
  color: #43ff00;
  border-bottom: #43ff00 1px solid;
}

.p-top-contact {
  width: 90%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  margin-bottom: 240px;
}
@media (800px>=width) {
  .p-top-contact {
    padding-left: 0;
  }
}
.p-top-contact:hover .p-top-contact__title {
  color: #01ffe9;
}
.p-top-contact__title {
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 2.5em;
  background: url(.././images/f-gosenfu.svg) no-repeat bottom left/cover;
  border: #0a0a0a 3px solid;
  font-size: 2.25rem;
  line-height: 1;
  letter-spacing: 0.05em;
  margin-bottom: 60px;
  transition: 0.2s;
}
.p-top-contact__text {
  margin-bottom: 60px;
  transition: 0.2s;
}
.p-top-contact__text:hover {
  color: #01ffe9;
}
.p-top-contact__address {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
@media (800px>=width) {
  .p-top-contact__address {
    display: block;
    padding: 0 30px;
  }
}
.p-top-contact__email {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
  margin-bottom: 30px;
  font-size: 1.25rem;
}
@media (800px>=width) {
  .p-top-contact__email {
    margin-bottom: 60px;
  }
}
.p-top-contact__email h3 {
  margin-bottom: 30px;
}
.p-top-contact__email a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  padding: 10px 15px;
  border: #999 3px solid;
  transition: 0.2s;
}
.p-top-contact__email a:hover {
  border: #01ffe9 3px solid;
}

.u-c-bla {
  color: #0a0a0a;
}
/*# sourceMappingURL=style.css.map */