@use '../global' as *;

.p-list-content {
    @include m-inner;
    margin-bottom: 240px;

    &__item {
        @include m-flex(center);
        margin-bottom: 60px;

        @include m-query {
            display: block;
            text-align: center;
        }

        &:hover {
            .p-list-content__title {
                color: $color-accent-f;
            }
        }

        &.is-none {
            display: none;
        }
    }

    &__img {
        width: 25%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 10%;

        @include m-query {
            margin-bottom: 30px;
            width: 40%;
            min-width: 200px;
        }
    }

    &__text {
        width: 70%;

        @include m-query {
            width: 100%;
        }
    }

    &__title {
        margin-bottom: 15px;
        font-size: f-rem(24);
        transition: .2s;
    }

    &__tags {
        @include m-flex(center, left);
        margin-bottom: 10px;

        @include m-query {
            justify-content: center;
        }
    }

    &__tag {
        margin-right: 15px;
    }
}