@use '../global' as *;

.p-player {
    &__img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 40px;
    }

    &__text {
        margin: 60px auto 0;
        width: 90%;
    }

    &__title {
        font-size: f-rem(24);
        margin-bottom: 10px;
    }

    &__bar {
        margin: 60px auto;
        display: flex;
        justify-content: space-between;
    }

    &__sec {
        display: block;
        width: 20%;
        height: 5px;
        background-color: $color-main-with-bg;

        &.is-active {
            background-color: $color-text;
        }
    }

    &__operation {
        display: flex;
        justify-content: space-between;
    }

    &__button {
        &:hover {
            cursor: pointer;
        }
    }
}