@use '../global' as *;

.p-work-content {
    @include m-inner;
    margin-bottom: 240px;

    &__h2 {
        margin-top: 120px;
        margin-bottom: 30px;

        &:hover {
            color: $color-accent-f;
        }
    }

    &__h3 {
        margin-top: 60px;
        margin-bottom: 30px;
        border-bottom: $color-main-with-bg 2px solid;
        font-size: f-rem(24);
        transition: .2s;

        &:hover {
            border-bottom: $color-accent-g 2px solid;
        }
    }

    &__text {
        padding: 0 30px;
        margin-bottom: 15px;
        transition: .2s;

        &:hover {
            color: $color-accent-g;
        }
    }

    &__img {
        @include m-flex;
        margin-bottom: 15px;
        padding: 0 30px;

        @include m-query {
            display: block;
        }

        img {
            width: 48%;
            margin-bottom: 15px;

            @include m-query {
                width: 100%;
            }
        }

    }
}