$color-bg: #0a0a0a;
$color-text: #f0f0f0;
$color-main-with-bg: #999;
$color-main-with-text: #5c5c5c;

$color-accent-c: #FF003E;
$color-accent-d: #FF8601;
$color-accent-e: #FFE500;
$color-accent-f: #43ff00;
$color-accent-g: #01ffe9;
$color-accent-a: #0140ff;
$color-accent-b: #9b00ff;